<!DOCTYPE html>
<html>
<head>
    <title>Nickname</title>
    <style>
        .room-code {
            position: absolute;
            top: 10px;
            right: 10px;
        }
    </style>
</head>
<body>
    <div class="room-code">방 번호: {{ room_code }}</div>
    <h1>Nickname</h1>
    <form method="post">
        {% csrf_token %}
        <label for="nickname">닉네임 입력:</label>
        <input type="text" id="nickname" name="nickname" required>
        <button type="submit">다음</button>
    </form>
</body>
</html>

